body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
.nav-title{

font-size: 45px;
 color: black;
font-weight: 800;

}
.text-primary{
    color: #FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 12px 25px;
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
}
.pro-pic{
    width: 500px;
}